QSlider::handle:horizontal
{
    background-color: red;
    width: 16px;
    border-radius: 4px;
}

QSlider::sub-page:horizontal
{
    background: qlineargradient(x1 : 0, y1 : 0,    x2 : 0, y2 : 1,stop : 0 #FF9781, stop: 1 #FF6A4B);
    background: qlineargradient(x1 : 0, y1 : 0.2, x2 : 1, y2 : 1,stop : 0 #FF6A4B, stop: 1 #FF2D00);
    border: 1px solid #777;
    height: 10px;
    border-radius: 4px;
}
